NODE_ENV=development
PORT=3000
API_PREFIX=api
CORS_ORIGINS=http://localhost:5173

DB_USERNAME=scanner
DB_PASSWORD=scanner_local
DB_NAME=dpa_scanner
DB_PORT=5432
DB_SYNCHRONIZE=false
DB_LOGGING=false

THROTTLE_TTL=60
THROTTLE_LIMIT=60
DB_MIGRATIONS_RUN=true

JWT_SECRET=cambiar_por_una_clave_larga_y_aleatoria_de_32_o_mas
JWT_EXPIRES_IN=1h
BCRYPT_ROUNDS=12
